<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
  

</head>

<body>
    <h1>hello jee</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "apnacollege".toUpperCase() %></h3>
    <h3><%=["shreya","diya","pragya","ram"].reverse() %></h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa impedit odit nostrum voluptates, autem quia, quo explicabo voluptatum sapiente, ea dolore aliquam incidunt eveniet! Ipsa aut quod tempore perspiciatis eos?</p>
    <button>click me</button>
</body>
</html>

<!-- ejs me hm mixture html aur js ka code likhte h --> 